@charset "UTF-8";

.z-window-content, body {
	background: #242526;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.main-container {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: flex-start;
	align-items: stretch; /* stretch children vertically */
	position: relative;
	gap: 5vw; /* space between sidebar and center area */
	box-sizing: border-box;
}

.sidebar {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100px; /* collapsed default */
	min-width: 80px;
	max-width: 300px; /* expanded max */
	margin: 0;
	background: #242526;
	color: #fff;
	border: 2px solid white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: flex-start;
	padding: 5px;
	gap: 10px;
	transition: width 0.3s ease;
	box-sizing: border-box;
}

.sidebar.open {
	width: 300px;
}

.sidebar.collapsed {
	width: 100px;
}

.menu-items {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;;
	gap: 10px;
	width: 100%;
}

.menu-btn, .menu-item, .add-btn, .save-btn, .clear-btn, .logout-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: 1px solid #777;
	color: #fff;
	cursor: pointer;
}

.logout-btn.z-button{
	padding: 3px 16px;
}

.clear-btn {
	height: 34px;
}

.menu-btn {
	margin-top: 5px;
	margin-right: 5px;
}

.clear-btn:hover, .floating-btn:hover, .add-btn:hover, .menu-btn:hover,
	.save-btn:hover {
	border: 1px solid #aaa !important;
	background: transparent !important;
	transform: scale(1.05);
	background-color: transparent;
}

.z-button:focus, .z-button:hover, menu-item:hover {
	border: 1px solid #aaa !important;
	background: transparent !important;
	background-color: transparent;
}

.menu-btn, .add-btn, .save-btn {
	width: 30px;
	height: 30px;
	border-radius: 6px;
	font-size: 14px;
	background: transparent;
	border: 1px solid #777;
	margin-right: 2px;
}

.menu-item {
	height: 50px;
	border-radius: 10px;
	font-size: 18px;
	width: 100%; /* make them take full width of sidebar */
	max-width: 280px; /* optional max */
}

.menu-item.collapsed {
	width: 80px;
}

.menu-item.open {
	width: 280px;
}

.menu-item.selected, .menu-item.selected:hover {
	border: 1.5px solid #fff !important;
}

.menu-item.open .z-icon-image {
	padding-right: 10px;
}

.center-area {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	gap: 10px;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.task-section-border {
	flex: 1;
	min-width: 200px; /* ensures it doesn’t shrink too much */
	max-width: 100%; /* never overflow container */
	height: 100%;
	background: #242526;
	border: 2px solid white;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-y: auto; /* scroll if too many tasks */
	transition: width 0.3s ease;
}

.task-section {
	flex: 1;
	min-width: 200px; /* ensures it doesn’t shrink too much */
	max-width: 100%; /* never overflow container */
	height: 100%;
	background: #242526;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-y: auto; /* scroll if too many tasks */
	transition: width 0.3s ease;
}

.task-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}

.section-title {
	font-size: 28px;
	font-weight: bold;
	color: white;
}

.task-card {
	background: #2a2a2a;
	border: 1px solid #777;
	border-radius: 12px;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* Default closed state */
.add-task-form {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 0; /* collapsed */
	background: #242526;
	border: 2px solid white;
	border-radius: 12px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow: hidden;
	transition: width 0.3s ease; /* smooth like sidebar */
	box-sizing: border-box;
	opacity: 0;
	gap: 5px;
	transition: width 0.3s ease;
	box-sizing: border-box;
}

.add-task-form.open {
	width: 300px; /* expanded width */
	opacity: 1;
}

.extra-fields {
	background: #242526;
	border: 1px solid white;
	border-radius: 12px;
	padding: 15px;
}

.z-textbox, .z-textarea, .z-textarea:focus, .z-intbox, z-timebox {
	width: 100%;
	border-radius: 6px;
	padding: 6px;
	border: 1px solid #555;
	background: #1e1e1e;
	color: #fff;
}

.taskTitle {
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.popupText {
	font-size: 14px;
	color: white;
}

.line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: #242526;
	border: 2px solid white;
	border-radius: 7px;
	padding: 5px 0px 10px 10px;
}

.z-textbox::placeholder, .z-intbox::placeholder, .z-datebox-input::placeholder,
	z-timebox::placeholder, .z-calendar-outside {
	color: grey;
}

.z-combobox, .z-datebox, z-timebox {
	width: 100% !important;
}

.z-combobox-readonly>input, .z-combobox-button, .z-combobox-input:focus,
	.z-combobox-readonly .z-combobox-button, .z-combobox-popup,
	.z-datebox-input, .z-datebox-input:focus, .z-datebox-button,
	.z-datebox-popup, .z-timebox-input, .z-timebox-input:focus,
	.z-timebox-button, .z-timebox-button:focus, .z-timebox-button:hover {
	border: 1px solid #555;
	border-radius: 6px;
	background: #1e1e1e;
	color: white;
}

.z-timebox-button {
	font-size: 15px;
}

.z-comboitem {
	color: grey;
	border: 1px solid transparent;
	border-radius: 6px;
}

.z-comboitem:hover, .z-timebox-button:hover {
	background: #1e1e1e;
	border: 1px solid #555;
	border-radius: 6px;
	color: white;
}

.z-timebox-button:hover, .z-timebox-input:focus+.z-timebox-button {
	background: #1e1e1e;
	border: 1px solid #555;
	color: white;
}

.z-timebox-button>a:hover, .z-timebox-button:hover>i {
	background: #1e1e1e;
	border: none;
	color: white;
}

.z-combobox-input:focus, .z-textbox:focus, .z-textarea:focus,
	.z-combobox-open, .z-combobox-input:focus+.z-combobox-button, .z-intbox:focus,
	.z-datebox-input:focus, .z-datebox-button:hover, .z-datebox-input:focus+.z-datebox-button,
	.z-datebox-open .z-datebox-button {
	border-color: #A8A8A8 !important;
}

.z-calendar, .z-calendar-cell {
	background: #1e1e1e;
	color: white;
	border-radius: 6px;
}

.z-calendar-cell:hover, .z-datebox-button:hover, .z-combobox-button:hover
	{
	background: #333;
}

.z-calendar-text, .z-calendar-icon {
	color: white;
}

.z-calendar-weekend, .z-calendar-weekday {
	color: white !important;
}

.z-calendar-outside {
	color: grey !important;
}

.floating-btn {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	border-radius: 6px;
	background: transparent;
	color: #fff;
	border: 1px solid #777;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.add-section {
	background: #242526;
	padding: 5px;
	border: 2px solid white;
	border-radius: 12px;
	gap: 10px;
}

.z-popup-content {
	background: #242526;
	border: none;
	box-shadow: none;
}

.add-btn>.z-icon-plus {
	transition: rotate 0.5s ease;
}

.add-btn.rotate>.z-icon-plus {
	rotate: 45deg;
	transition: rotate 0.5s ease;
}

.profile-btn {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 6px;
	background: transparent;
	color: #fff;
	border: 1px solid #777;
	display: flex;
	justify-content: center; align-items : center;
	font-size: 20px;
	cursor: pointer;
	transition: transform 0.2s ease;
	align-items: center;
}

.profile-btn.open>.z-icon-user {
	font-size: 20px;
}

.profile-btn.open {
	width: fit-content;
	font-size: 14px;
}

.login-container {
	display: flex;
	justify-content: center;
	align-content: center;
	max-height: 500px;
	opacity: 1;
	transition: all 0.5s ease;
}

.login-container.collapsed {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: all 0.5s ease;
}